html {
    --light-bg: #E4EBF5;
    --bg-color: var(--light-bg);
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
}

.App {
    background: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
    width: 30em;
    height: 50em;
    display: flex;
    flex-direction: column;
}

.logo {
    font-family: "museo-slab";
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-top: 100px;
    margin-bottom: -100px;
    max-width: 200px;
}



.logo-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.form-input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 0.25rem;
    padding: 1rem;
    color: #3A3F44;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form-field {
    display: flex;
}


.text--center {
    text-align: center;
}

.fitness-app-wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.overflow-hidden {
    overflow: hidden !important;
}

.fitness-app-nav-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    left: 0px;
    bottom: -8px;
    margin: 8px 0px;
    padding: 16px 24px;
    position: absolute;
    box-shadow: var(--box-shadow);
    background: var(--bg-color);
    justify-content: space-between;
}